.nav {
    background-color: white;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    border-bottom: black solid 2px;
    box-shadow: 0px 0px 5px 2px #9389eb;
    font-family: Kanit, sans-serif;
}

.site-title {
    font-size: 3rem;
    font-weight: bold;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: whitesmoke;
    background: -webkit-linear-gradient(top left, #77c3ff, #9389eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
    text-align: center;
    text-justify: center;
}

.nav li {
    /*height: 6rem;*/
    font-size: 2rem;
    /*margin-top: 2rem;*/
    text-align: bottom;
    text-justify: distribute;
}

.nav li:hover {
    opacity: 85%
}

.wai-logo {
    height: 6rem;
}

.wai-logo:hover {
    cursor: pointer;
    opacity: 85%;
}

.nav a:hover {
    opacity: 85%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: fixed;
    left: 70px;
    top: 397px;
    width: 36px;
    height: 36px;
    margin: 8px;
    border: 8px solid #81a9f6;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #81a9f6 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}